.delete-icon{
  height: 22px;
  width: 22px;
  display: none;
  float: right;
}

.thumbnail .delete-icon{
  margin-right: 0px; 
}
.thumbnail .glyphicon-edit{
  display: none;
}
.thumbnail:hover .glyphicon-edit{
  display: inline;
  -webkit-animation: fadein 2s;
}
.thumbnail:hover .delete-icon{
  display: inline;
  -webkit-animation: fadein 2s;
}
.parent{
  height: 15px;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
img { cursor: pointer; }