body{
    background-color: #e0e0d1;
}

.partx{
    width: 100%;
    height: 30px;
    border: 4px solid lightblue;
    text-align: center;
    font-size: 22px;
}
.selected{
    background-color: yellow;
}

