html, body, .container-fluid, .row {
	height: 100%;
}
.main-content{
  margin-top: 20px;
}
.main-image:hover{
  -webkit-animation: fadein-image 1s;
  opacity: 0.6;
}
@-webkit-keyframes fadein-image {
    from { opacity: 1; }
    to   { opacity: 0.6; }
}
.modal-image-desc{
  padding: 15px;
}
@media (min-width: 990px) {
  .modal-image{
  height: 450px;
  }
}
@media (max-width: 440px) {
  .modal-image{
  height: 300px;
  }
}
.list-reset{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.div-initial{
  display: initial
}
.fade-leave{
  right: 0px;
  transform: rotateX(0deg) rotateZ(0deg);
}
.fade-leave-active{
  right: -900px;
  transform: rotateX(120deg) rotateZ(120deg);
  transition: .8s ease-out all;
}

