body{
    max-width: 1280px;
    margin: auto;
}
h2{
    display: inline;
}

.selected{
    background-color: blue;
}
#tableID{
    cursor: pointer; 
    width: 1200px; 
    height: 500px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
button{
    width: 100px;
}


.content{
    float: left;
    margin: 50px;
}
.ml{
    margin-left: 50px;
}

